body {
    font-family: Calibri, sans-serif;
    margin: 0;
}

table, tr, td, th{
    border: 1px solid black;
}
table{
    width: 100%;
}
.titre-big {
    font-family: 'Calibri Bold', sans-serif;
    font-weight: 800;
    line-height: 1.4em;
    color: #4a5488;
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
}

.titre {
    font-family: 'Calibri Bold', sans-serif;
    font-weight: 500;
    line-height: 1.4em;
    color: #4a5488;
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
}

.subtitle {
    text-align: right;
    font-size: small;
    width: 97%;
    margin-top: 2rem;
}

.blue-bg {
    padding: 0.2rem;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #4a5488;
}

.type-title {
    border: 1px solid gray;
    padding: 0.2rem 4rem;
    text-align: center;
    vertical-align: center;
}

.type-data {
    border: 1px solid gray;
    padding: 0.2rem;
    text-align: center;
    vertical-align: center;
    margin-bottom: 1rem;
}

.type-border {
    vertical-align: center;
}

table {
    border-collapse: collapse;
}