body {
    font-family: Calibri, sans-serif;
    margin: 0;
}

.titre {
    font-family: 'Calibri Bold', sans-serif;
    font-weight: 800;
    line-height: 1.4em;
    color: #4a5488;
    margin: 0;
    display: block;
    text-align: center;
    width: 75%;
}

.subtitle {
    text-align: right;
    font-size: small;
    width: 56%;
    margin-top: 2rem;
}

.blue-bg {
    padding: 0.2rem;
    margin: 0;
    width: 75%;
    text-align: center;
    color: white;
    background-color: #4a5488;
}

.type-title {
    border: 1px solid gray;
    padding: 0.2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    vertical-align: center;
}

.type-data {
    border: 1px solid gray;
    padding: 0.2rem;
    text-align: center;
    vertical-align: center;
}