<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>CUA</title>
    <!-- utilisation d'une condition qui change le link pour récupérer la CSS, qui diffère selon qu'on
        télécharge le contrat ou si l'on regarde sa prévisualisation -->
    <link rel="stylesheet" type="text/css" href="css/contrat-generation.css" th:if="${ download }"/>
    <link href="../static/css/contrat-generation.css" th:href="@{/css/contrat-generation.css}" rel="stylesheet"
          th:unless="${ download }"/>
</head>

<body>

<img class="gouvernement" src="images/gouvernementnc.png" alt=""/>

<div class="page" data-th-object="${ contrat }">

    <div class="page-nb">1 / 2</div>

    <div class="contrat-title">
        <h1 class="titre-big">CONTRAT UNIQUE <br/> D'ALTERNANCE</h1>
        <div class="subtitle"><em>régi par les articles Lp. 522-1 et suivants du code du travail de Nouvelle-Calédonie</em>
        </div>
    </div>

    <table class="type-contrat">
        <tr>
            <td>TYPE DE CONTRAT</td>
            <td data-th-text="*{ typeContrat }"></td>
        </tr>
    </table>

    <div class="avenant" th:if="${avenant}">Avenant N°<span data-th-text="*{numeroAvenant}"></span> pour <span
            data-th-text="*{motifAvn}"></span></div>


    <!-- SECTION EMPLOYEUR -->
    <div class="section-title">
        <strong>ENTRE L'EMPLOYEUR, désigné ci-dessous :</strong>
    </div>

    <div data-th-object="${ contrat?.entreprise }">
        <table>
            <tr>
                <th>N° RIDET</th>
                <td data-th-text="*{ numeroRidet }"></td>
                <th>N°CAFAT</th>
                <td data-th-text="*{ numeroCafatEntreprise }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>CODE NAF</th>
                <td data-th-text="*{ codeNaf }"></td>
                <th>STATUT JURIDIQUE</th>
                <td data-th-text="*{ formeJuridique }"></td>
                <th>NOMBRE DE SALARIES</th>
                <td data-th-text="*{ nombreSalarie }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>ENSEIGNE ou SIGLE</th>
                <td data-th-text="*{ enseigne }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>NOM - PRENOM - FONCTION <br/>DU REPRESENTANT DE L'EMPLOYEUR</th>
                <td data-th-text="*{nomRepresentantEmployeur}"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>ADRESSE PHYSIQUE<br/>(Lieu d'exécution du contrat)</th>
                <td><span data-th-text="*{ adressePhysiqueRue }"></span><br/>
                    CODE POSTAL : <span data-th-text="*{ adressePhysiqueCodePostal }"></span>
                    COMMUNE : <span data-th-text="*{ adressePhysiqueCommune }"></span>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th> ADRESSE POSTALE</th>
                <td>RUE ou BP : <span data-th-text="*{ adressePostaleRueOuBp }"></span><br/>
                    CODE POSTAL : <span data-th-text="*{ adressePostaleCodePostal }"></span>
                    COMMUNE : <span data-th-text="*{ adressePostaleCommune }"></span>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>TEL</th>
                <td data-th-text="*{ telephoneEntreprise }"></td>
                <th>COURRIEL</th>
                <td data-th-text="*{ emailEntreprise }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>CONVIENTION COLLECTIVE<br/>APPLICABLE DANS L'ENTREPRISE</th>
                <td data-th-text="*{ conventionCollective }"></td>
            </tr>
        </table>
    </div>

    <!-- SECTION EMPLOYE -->
    <div class="section-title">
        <strong>ET LE(LA) SALARIE(E),</strong>
    </div>

    <div class="etudiant-container" data-th-object="${ contrat?.etudiant }">
        <table>
            <tr>
                <th>NOM</th>
                <td data-th-text="*{ nomEtudiant }"></td>
                <th>PRENOM(S)</th>
                <td data-th-text="*{ prenomEtudiant }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>CIVILITE</th>
                <td data-th-text="*{ civiliteEtudiant }"></td>
                <th>NATIONALITE</th>
                <td data-th-text="*{ nationalite }"></td>
                <th>N° CAFAT</th>
                <td data-th-text="*{ numeroCafatEtudiant }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>DATE DE<br/>NAISSANCE</th>
                <td th:text="${#temporals.format(contrat?.etudiant?.dateNaissanceEtudiant, 'dd/MM/yyyy')}"></td>
                <th>AGE</th>
                <td data-th-text="${ age }"></td>
                <th>LIEU DE NAISSANCE<br/>(ville, dépt, pays)</th>
                <td data-th-text="*{ lieuNaissance }"></td>
                <th>NATIONALITE</th>
                <td data-th-text="*{ lieuNaissance }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>TEL</th>
                <td><span data-th-text="*{ telephoneEtudiant1 }"></span> / <span
                        data-th-text="*{ telephoneEtudiant2 }"></span></td>
                <th>COURRIEL</th>
                <td data-th-text="*{ emailEtudiant }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>Adresse</th>
                <td>
                    RUE : <span data-th-text="*{ adresseEtudiant }"></span><br/>
                    CODE POSTAL : <span data-th-text="*{ codePostalEtudiant }"></span>
                    COMMUNE : <span data-th-text="*{ communeEtudiant }"></span>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>DIPLOME LE PLUS ELEVE OBTENU</th>
                <td data-th-text="*{ dernierDiplomeObtenuOuEnCours }"></td>
                <th>NIVEAU</th>
                <td data-th-text="*{ niveauDernierDiplome }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>SITUATION AVANT CONTRAT</th>
                <td data-th-text="*{ situationAnneePrecedente }"></td>
                <th>DENIER EMPLOI OCCUPE</th>
                <td data-th-text="*{ dernierEmploiOccupe }"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>TRAVAILLEUR HANDICAPE</th>
                <td><input type="checkbox" name="travailleurH" th:checked="*{ travailleurHandicape }"/></td>
            </tr>
        </table>

        <table>
            <tr>
                <td>DEROGATION D'AGE</td>
                <td><input type="checkbox" name="derogation" th:checked="${ contrat?.derogationAge }"/></td>
                <td>DATE DE DELIVRANCE DE LA DEROGATION</td>
                <td th:text="${#temporals.format(contrat?.dateDelivranceDerogationAge, 'dd/MM/yyyy')}"></td>
            </tr>
        </table>
    </div>

    <!-- SECTION REPRESENTANT LEGAL -->
    <div class="section-title">
        <strong>ET LE(LA) REPRESENTANT(E) LEGAL(E) DU (DE LA) SALARIE(E),</strong>
    </div>

    <table>
        <tr>
            <th>NOM</th>
            <td data-th-text="*{ nomRepresentantLegal }"></td>
            <th>PRENOM(S)</th>
            <td data-th-text="*{ prenomRepresentantLegal }"></td>
        </tr>
    </table>

    <div class="relation-rep">
        <strong>RELATION AVEC LE(LA) SALARIE(E)</strong>
        <div>
            <span>Père </span>
            <input class="rep-legal-checkbox" type="checkbox" name="pere" th:checked="${ contrat?.relationAvecSalarie == 'Père' }"/>
        </div>

        <div>
            <span>Mère </span>
            <input class="rep-legal-checkbox" type="checkbox" name="mere" th:checked="${ contrat?.relationAvecSalarie == 'Mère' }"/>
        </div>

        <div>
            <span>Tuteur </span>
            <input class="rep-legal-checkbox" type="checkbox" name="tuteur" th:checked="${ contrat?.relationAvecSalarie == 'Tuteur' }"/>
        </div>

    </div>

    <table>
        <tr>
            <th>Adresse</th>
            <td>
                RUE : <span data-th-text="*{ adresseRepresentant }"></span><br/>
                CODE POSTAL : <span data-th-text="*{ codePostalRepresentant }"></span>
                COMMUNE : <span data-th-text="*{ communeRepresentant }"></span>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>TEL</th>
            <td><span data-th-text="*{ telephoneRepresentant }"></span></td>
            <th>COURRIEL</th>
            <td data-th-text="*{ emailRepresentant }"></td>
        </tr>
    </table>

    <table class="admin-cadre">
        <tr>
            <th class="bg-blue">CADRE RESERVE A L'ADMINISTRATION</th>
        </tr>
        <tr>
            <td>
                N° d'enregistrement du contrat : <br/>
                N° d'avenant : <br/>
                Reçu le :
            </td>
        </tr>
    </table>
</div>


<div class="page" data-th-object="${ contrat }">

    <div class="page-nb">2 / 2</div>

    <p><strong>IL EST CONVENU CE QUI SUIT :</strong></p>

    <p>L'employeur engage le(la) salarié(e) à compter du <span data-th-text="*{ debutContrat }"></span> jusqu'au<span
            data-th-text="*{ finContrat }"></span>.</p>

    <p>La période d'essai a une durée de <span data-th-text="*{ dureePeriodeEssai }"></span> semaines.</p>

    <p>Le(la) salarié(e) occupera l'emploi de : <span data-th-text="${ contrat?.formation?.typeEmploiExerce }"></span>
        - <span data-th-text="${ contrat?.formation?.codeRome }"></span></p>

    <p>Durant la période du contrat, le(la) salrié(e) suivra par alternance une formation en vue d'acquérir la
        certification professionnelle suivante :</p>

    <p class="text-center"><span data-th-text="${ contrat?.formation?.libelleFormation }"></span></p>
    <p class="text-center">(Niveau <span data-th-text="${ contrat?.formation?.niveauCertificationProfessionnelle }"></span> - Inscrit au RCP-NC)</p>

    <p>dont l'autorité certificatrice est : l'Université de la Nouvelle-Calédonie</p>

    <p>La formation est assurée :</p>

    <div class="cfa-sup">
        <p><strong>CFA SUP de l'Université de la Nouvelle-Calédonie</strong></p>
        <p>(n° déclaration DFPC : 988/ 198/04U)</p>
    </div>

    <p>L'organisation du parcours de formation du (de la) salarié(e) se déroulera conformément aux dispositions de la
        convention de formation <span data-th-text="*{ numeroConventionFormation }"></span> et de ses éventuels avenants
        ultérieurs.</p>

    <p>Il comprend <span data-th-text="${ contrat?.formation?.semainesEntreprise }"></span> semaines en entreprise et
        <span data-th-text="${ contrat?.formation?.heuresFormation }"></span>
        heures réparties sur <span data-th-text="${ contrat?.formation?.semainesEntreprise }"></span> semaines en centre
        de formation. Les périodes
        de formation en centre se dérouleront à <span data-th-text="${ contrat?.formation?.lieuFormation }"></span></p>

    <p>Durant les périodes en entreprise, le(la) salarié(e) est encadré(e) par un(e) tuteur(tutrice) désigné(e)
        ci-dessous :</p>

    <div data-th-object="${ contrat?.tuteur }" class="container-tuteur">
        <table>
            <tbody>
            <tr>
                <td><strong>NOM</strong></td>
                <td data-th-text="*{ nomTuteur }"></td>
                <td><strong>PRENOM</strong></td>
                <td data-th-text="*{ prenomTuteur }"></td>
            </tr>
            </tbody>
        </table>

        <table>
            <tbody>
            <tr>
                <td><strong>EMPLOI OCCUPE</strong></td>
                <td data-th-text="*{ posteOccupe }"></td>
            </tr>
            </tbody>
        </table>

        <table>
            <tbody>
            <tr>
                <td><strong>DIPLOME TECHNIQUE DETENU</strong></td>
                <td data-th-text="*{ diplomeEleveObtenu }"></td>
                <td><strong>NIVEAU</strong></td>
                <td data-th-text="*{ niveauDiplome }"></td>
            </tr>
            </tbody>
        </table>

        <table>
            <tbody>
            <tr>
                <td><strong>DUREE DE L'EXPERIENCE PROFESSIONNELLE DANS LE METIER</strong></td>
                <td data-th-text="*{ anneeExperienceProfessionnelle }"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>La durée hebdomadaire de travail est fixée à : <span
            data-th-text="${ contrat?.formation?.dureeHebdomadaireTravail }"></span></p>

    <p>Le salaire brut mensuel est fixé à<sup>1</sup> :</p>

    <p>Montant mensuel brut <sup>2</sup>:</p>

    <p>Ou</p>

    <table>
        <tbody>
        <tr>
            <td>Pourcentage du SMG</td>
            <td> %</td>
            <td></td>
        </tr>
        <tr>
            <td>Pourcentage du SMG</td>
            <td> %</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <p>Primes ou avantages en nature : </p>

    <p>La visite médicale d'aptitude a été réalisée : OUI <input type="checkbox"/> NON <input type="checkbox"/></p>

    <p>Le(la) salarié(e) pourra être amené(e) à :</p>

    <ul>
        <li>travailler sur marchine(s) dangereuse(s) : OUI <input type="checkbox"/> NON <input type="checkbox"/></li>
        <li>être exposé à des risques particuliers : OUI <input type="checkbox"/> NON <input type="checkbox"/> <br/>
            <span>si oui, lesquels :</span></li>
    </ul>

    <div>
        <div>□</div>
        <p>L'employeur atteste être en capacité de signer un contrat unique d'alternance tel que prévue à l'article
            Lp. 522-2 du code du travail de Nouvelle-Calédonie.</p>
    </div>

    <p>Fait à <span class="date-signature">, le</span></p>

    <div class="signatures">
        <div class="text-center">
            <p>
                <strong>Le (la) salarié(e)</strong>
            </p>

        </div>
        <div class="text-center">
            <p>
                <strong>L'employeur</strong>
                <em>Nom et qualité</em>
            </p>
        </div>
    </div>


    <div class="footer">
        <hr/>

        <p><em><sup>1</sup> Rappel : conformément aux dispositions de l'article Lp. 522-15 du code de travail de
            Nouvelle-Calédonie, celui-ci ne peut pas être inférieur à un pourcentage du SMG fixé par un arrêté du
            gouvernement de la Nouvelle-Calédonie.</em></p>

        <p><em><sup>2</sup> Si celui-ci est supérieur au minimum légal ou conventionnel au titre de chaque année du contrat.</em>
        </p>
    </div>
</div>


</body>
</html>
