html, :host{
    background: unset;
}
vaadin-login-overlay-wrapper, :host{
    --lumo-base-color: none;
    background-image: url("./img/bg-login.png");
}
vaadin-login-form-wrapper, host{
    background: white;
}
li{
    list-style: none;
    text-align: center;
}
a{
    color: #1d1d2b;
    font-size: 1.2rem;
}
.cfa-icon{
    width: 8rem;
    margin: 1rem;
    align-self: center;
    justify-self: center;
}
ul{
    padding: 0 1rem;
}
.text-center{
    text-align: center;
}
.cfa-container-icon{
    justify-content: center;
    display: flex;
}
div [content], :host{
    background: red;
}
th{
    background: white;
}
[part="content"], :host{
    --lumo-base-color: white !important;
    background: var(--lumo-base-color);
}
h1, :host{
    margin-left: 1rem;
}
header{
    width: 100%;
}
.items-center{
    justify-items: center;
    align-items: center;
    justify-content: center;
}
[content=""]{
    background: red;
}