@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

html, :host{
    background: unset;
}
vaadin-login-overlay-wrapper, :host{
    --lumo-base-color: none;
    background-image: url("./img/bg-login.png");
}
vaadin-login-form-wrapper, host{
    background: white;
}
li{
    list-style: none;
    margin: 0.8rem 0;
}
a{
    color: white;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}
.cfa-icon{
    width: 8rem;
    margin: 1rem;
    align-self: center;
    justify-self: center;
}
ul{
    padding: 0 1rem;
}
.text-center{
    text-align: center;
}
.cfa-container-icon{
    justify-content: center;
    display: flex;
}
div [content], :host{
    background: red;
}
th{
    background: white;
}
[part="content"], :host{
    --lumo-base-color: white !important;
    background: var(--lumo-base-color);
}
h1, :host{
    margin-left: 1rem;
}
header{
    width: 100%;
}
.items-center{
    justify-items: center;
    align-items: center;
    justify-content: center;
}
[slot="drawer"], :host{
    background: #2A2A2A !important;
    min-height: 100%;
}
[slot="drawer"]:before, :host {
    background: #2A2A2A !important;
}
[slot="drawer"] nav, :host{
    height: 90%;
    display: flex;
    flex-direction: column;
    background: #2A2A2A !important;
}
[slot="drawer"] nav ul, :host{
    margin: auto !important;
    background: #2A2A2A !important;
}
[slot="drawer"] footer, :host{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}
[slot="drawer"] footer span{
    color: white;
    background: #002BD8;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
.link-formation a{
    color: #2A2A2A !important;
}
.contrat-link{
    color: #2A2A2A;
}
.tuteurcontrat-button{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 12px;
    padding-left: 8px;
}
.referentbutton-contrat{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 12px;
    padding-left: 8px;
}